<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Hyper in Heroku</title>
</head>
<body>
    <div class="container">
        <h3>Heroku + Hyper = <3!</h3>
        <p>
            <a href=create ><button class=grey>Run a Refresh</button></a>
        </p>
        <img src="../static/hyperlogo.png" alt="" class="logo">
        {% if message %}
            <p class="message">{{ message | safe }}</p>
        {% endif %}
    </div>
</body>
</html>